.body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}

html {
  scroll-behavior: smooth;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
  
}

.blue {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    267deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(60, 49, 221, 1) 0%,
    rgba(31, 110, 126, 1) 77%
  );
}

.home {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}



.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
}

.profilepic {
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  
}

.red {
  background: #dd3f31;
}

.dark {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}

.pink {
  background: rgb(177, 29, 163);
  background: linear-gradient(
    90deg,
    rgba(177, 29, 163, 1) -9%,
    rgba(253, 187, 45, 1) 98%
  );
}

.about {
  background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
}

#portfolio-page {
  background-color: red;
}

#intro {
  /* padding-left: 60%;
  display: flex;
  flex-direction: column; */
  position: relative;
  /* top: -340px; */
}



#avi {
  max-height: 400px;
  max-width: 400px;
  border: 0.01em solid #555;
  border-color: black;
  border-radius: 50%;
  position: relative;
  left: -180px;
  box-shadow: 10px 10px 10px 10px #1f1e1e;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

#avi:hover {
  transform: scale(1.05);
}

#aboutLink {
  /* position: relative; */
  color: white;
  border-color: black;
  /* top: -360px;
  left: 625px; */
}

#aboutLink:hover {
  color: white;
  background-color: #3a3a3d;
}

.btn-group {
  display: flex;
  position: relative;
  background-color: #3a3a3d;
  left: -75px;
  top: 50px;
  box-shadow: 2px 2px 2px 2px #1f1e1e;
}


.portfoliogrid {
  display: flex;
  row-gap: 17px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 1200px;
  margin: 0 auto;
}

.card {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  display: block;
  max-width:500px;
  max-height:2000px;
  width: auto;
  height: auto;

  
}
.card-title {
  color:rgb(2, 0, 36);
  
}
.card-text {
  color: black;
}

/*.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  
}


 #aboutCard {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
  
  
}*/

.welcome_area {
  text-align: left;
  padding-top: 7%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  
}



.welcome_area .fb {
  padding: 5%;
}

.welcome_area h3 {
  color: #fff;
  font-size:1.5rem;
}



.welcome_area p {
  color: black;
  text-align: left;
  font-size:1rem;


}
.welcome_area .carddesign {
  background: rgba(255,255,255,.1);
 border-color: none;
 
}




ul {
  list-style: none; 
}

ul li::before {
  content: "\2022"; 
  color: #3A1C71; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1.3em; 
}


/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}







.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.d-flex.col-md-4.mt-auto {
  flex: 0 1 35%;
}

.portfolio {
  display: flex;
}


.btn-title {
  color: white; 
  text-decoration: none;
}
.btn-title:hover {
  color: white;
}

.btn:hover{
  transform: scale(1.05);
  color: white;
 
}


.home-bottom-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  opacity: 1;
}

.home-bottom-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 32px;
}

.home-bottom-divider .shape-fill {
  fill: #000851;
}

.dark-top-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  opacity: 1;
}

.dark-top-divider svg {
  position: relative;
  display: block;
  width: calc(173% + 1.3px);
  height: 32px;
  transform: rotateY(180deg);
}

.dark-top-divider .shape-fill {
  fill: #000851;
}

.dark-bottom-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  opacity: .9;
}

.dark-bottom-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
  transform: rotateY(180deg);
}

.dark-bottom-divider .shape-fill {
  fill: #3A1C71;
}
.fresco-top-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.fresco-top-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 19px;
  transform: rotateY(180deg);
}

.fresco-top-divider .shape-fill {
  fill: #3A1C71;
}

.fresco-bottom-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.fresco-bottom-divider svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 29px;
}

.fresco-bottom-divider .shape-fill {
  fill: #FDBB2D;
}
.fresco-bottom-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.contact-top-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.contact-top-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 19px;
  transform: rotateY(180deg);
}

.contact-top-divider .shape-fill {
  fill: #FDBB2D;
}

#footer1 {
  background: rgb(177, 29, 163);
  background: linear-gradient(
    90deg,
    rgba(177, 29, 163, 1) -9%,
    rgba(253, 187, 45, 1) 98%
  );
  
}

#footer2 {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  padding: 25px;
}

h5 {
  color: black;
}

#contactCardBody {
  
  color: black;
  
  
  
  
}

#contact {
  background: rgba(255,255,255,.2);
  
}

.mb-0 {
  color: white;
}

#submitLink {
  /* position: relative; */
  color: white;
  border-color: black;
  /* top: -360px;
  left: 625px; */
}

#submitLink:hover {
  color: white;
  background-color: #3a3a3d;
}
